@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.body-main{
  background-image: url('bgrnd1.jpg');
  background-repeat:repeat;
  font-family: 'Secular One', sans-serif;
  box-sizing: border-box;
}
.body-other{
  background-image: url('bgrnd.jpg');
  background-repeat: repeat;
  font-family: 'Secular One', sans-serif;
  box-sizing: border-box;
}

h1{
  text-align: center;
  color: #573804;
  position: relative;
  top: 1em;
  letter-spacing: 2px;
}
#sara{
  height: 75px;
  width: 180px;
  display: block;
}

#ils{
  height: 75px;
  width: 75px;

}

.head-title{
  width: 300px;
  background-color: black;
	background: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  z-index: 1;
  text-decoration: none;
  margin: 6% 45% 0 0;
  border-radius: 50%;
  filter: brightness(100%);
  filter:drop-shadow(03px 03px 10px #323232);
  filter: grayscale(20%);
  filter: contrast(130%);
}

.swing{
  animation: swing ease-in-out 3s alternate infinite ;
  animation-delay: 3s;
  transform-origin: center -50px;
 }
@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-1deg)}
    100% { transform: rotate(1deg); }
}
.rightnav{
  transition: right 0.6s ease 100ms;
  position: fixed;
  width: 14vw;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  background: linear-gradient( to left ,#0F0F0F, black, #0F0F0F);
  height: 100%;
  top:0;
  right: 0;
  padding: 0;
  margin: 0 auto;
 }
 a{
   text-decoration: none;
 }

.rightbar{
  min-height: 40px;
  max-height: auto;
  display: block;
  border: none;
  padding: 8% 30px 8% 40px;
  margin:  0;
  line-height: 40px;
  font-weight:lighter;
  font-size: 1em;
  text-decoration: none;
  background: #4E4E4E;
  color: #EFC959;
  text-align: left;
}
.rightbar .fa{
  font-size: 200%;

  color: #EFC959;
  position: absolute;
  right: 1vw;
}
.rightbar:hover{
  background: black;

}
.maincontent{
  height: 500px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  top: 7em;
  text-align: center;
}
.mainobject{
  text-align: center;
  width: 300px;
  height: 200px;
  color: #202020;
  display: inline-block;
  margin: 3px auto;
  padding: 5px 0;
  box-sizing: content-box;
  border-radius: 4%;
  font-size: 2em;
  background-image: url('bgrnd.jpg');
  text-decoration: none;
  border: 5px solid #F4A726;
  box-shadow: 3px 3px 3px 1px gray;
  filter: contrast(80%);
  line-height: 30px;
}
.mainobject:hover{
  filter:opacity(80%);
}
.mainobject .fa{
  font-size: 4em;
  color: #F4A726;
}
.mainobject p{
  margin: 6px auto;
}
.leftnav{
  justify-content:space-around;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  background: linear-gradient( to left ,#202020, #4E4E4E, #4E4E4E, #202020);
  height: 120%;
  position: fixed;
  top:88px;
  left: -14.5em;
  padding: 10px 10px;
  margin: 0 0;
  line-height: 20px;
  color: white;
  box-shadow: 1px 2px 2px 2px black;
  border-right: 2px solid #F4A726;
  font-weight:lighter;
  font-size: 1.1em;
  transition: left 0.6s ease-out 30ms;
}
.leftnav:hover{
  left: -0.2em;
}
/*contact page*/
.contact-opt{
  text-align: center;
  width: 170px;
  height:250px;
  color: #202020;
  display: inline-block;
  margin: 3px auto;
  padding: 5px;
  box-sizing: content-box;
  border-radius: 4%;
  font-size: 1.2em;
  background-image: url('bgrnd.jpg');
  text-decoration: none;
  border: 2px solid #F4A726;
  filter: contrast(80%);
  line-height: 30px;
}
.contact-wapp .fa{
  font-size: 4em;
  color: #00D200;
}
.contact-email .fa{
  font-size: 4em;
  color: #010169;
}
.contact-number .fa{
  font-size: 4em;
  color: #371238;
}
.message-box{
  width: 400px!important;
  margin: 20px auto 20px auto;


}
/*paymant page*/
.payment-opt{
  text-align: center;
  width: 170px;
  height:200px;
  color: #202020;
  display: inline-block;
  margin: 3px auto;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 4%;
  font-size: 200%;
  background-image: url('bgrnd.jpg');
  text-decoration: none;
  border: 2px solid #F4A726;
  filter: contrast(80%);
  line-height: 70px;
}
.payment-opt:hover,.contact-opt:hover{
  box-shadow: 2px 2px 2px 2px gray;

}
.payment-opt a{
  text-decoration: none;
  color: #573804;
  flex-flow: row;

}
.secondary{
  height: 500px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
  top: 10em;
  text-align: center;
}
#paypop{
  display: none;
  margin: 50px auto;

}
#paypop iframe{
  text-align: center;
  border-radius: 4px;
 }
.sign button{
  width: 200px;
  height: 50px;
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
/*mobile design*/
@media only screen and (max-width: 600px) {
  h1{
    top: 1em;
  }
.rightbar{
  height:auto;
  display: block;
  border-top: 0.1mm solid #EFC959;
  padding: 1px 3px;
  margin:  0;
  line-height: 30px;
  font-size: 4%;
  text-decoration: none;
  background: #4E4E4E;
  color: #EFC959;
  text-align: center;
}
.rightnav{
  transition: right 0.6s ease 100ms;
  position: fixed;
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  background: #1E1A19;
  height: 100vh;
  top:10vh;
  right: 0;
  padding: 0;
  margin: 0 auto;
}
body{
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
}
.head-title #sara{
  height: 50px;
  width: 90px;
  margin: 0 0;
  filter: contrast(140%);
  display: inline;
}
.head-title #ils{
  height: 50px;
  width: 50px;
  margin: 0 0;
  position: relative;

  left:0;
}

.head-title{
  width: 100%;
  background-color: black;
	background-image: ;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: ;
  text-decoration: none;
  margin: 0px 0;
  border-radius: 0;

  padding: 0;
}
.headbg{
  background-color: #E9B14A;
  filter: brightness(160%);
  width: 100%;
  margin: 0;
  top: 0;
  height: 10.3vh;
  filter:drop-shadow( 03px 03px 25px #323232);
}
.rstring{
  display: none;
}
.lstring{
  display: none;
}
.strings{
  display: none;
}
.dot{
  display: none;
}
@keyframes swing {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
.swing {
    transform-origin: center -50px;
}
.rightbar .fa{
  display: none;
}
