@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
html{
  padding: 0;
  margin:0;
  overflow-x: hidden;
}
.body-main{
  background-image: url('bgrnd1.jpg');
  background-repeat:repeat;
  font-family: 'Alef', sans-serif;
  box-sizing: border-box;
}
.body-other{
  background-image: url('bgrnd.jpg');
  background-repeat: repeat;
  font-family: 'Alef', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

#sara{
  height: 75px;
  width: 180px;
  display: block;
}

#ils{
  height: 75px;
  width: 75px;

}

.head-title{
  width: 300px;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  margin: 6% 45% 0 0;
  border-radius: 50%;
  filter:drop-shadow(03px 03px 10px #323232);

}
.head-title2{
  text-decoration: none;
  width: 800px;
  height: 300px;
  background:black;
  transform:rotate(-30deg);
  position: relative;
  display: flex;
  left: -22%;
  top: -5%;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  text-align: center;
}
.tcontain{
  z-index: 200;
  pointer-events:none;
  height: 800px;
  width: 800px;
  overflow: hidden;
  float: left;
  margin-left: -1%;
  margin-top: -7%;
  position: relative;
}
.head-title2 #sara{
  height: 75px;
  width: 180px;
  position: relative;
  bottom: 0;
  margin: 100px auto;
  transform: translateX(-60%);
}
.head-title2 #ils{
  height: 75px;
  width: 75px;
  position:relative;
  top: 30%;
  transform: rotate(45deg);
  transform: translateX(-130%);
}

.swing{
  animation: swing ease-in-out 3s alternate infinite ;
  animation-delay: 3s;
  transform-origin: center -50px;
 }
@keyframes swing {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-1deg)}
    100% { transform: rotate(1deg); }
}
.rightnav{
  transition: right 0.6s ease 100ms;
  position: fixed;
  width: 14vw;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  background: linear-gradient( to left ,#0F0F0F, black, #0F0F0F);
  height: 100%;
  top:0;
  right: 0;
  padding: 0;
  margin: 0 auto;
 }
 a{
   text-decoration: none;
 }
.rightbar{
  min-height: 40px;
  max-height: auto;
  display: block;
  border: none;
  padding: 8% 30px 8% 30px;
  margin:  0;
  line-height: 40px;
  font-size: 1.2rem;
  text-decoration: none;
  background: #4E4E4E;
  color: #EFC959;
  text-align: left;
}
.rightbar .fa{
  font-size: 2em;
  color: #EFC959;
  position: absolute;
  right: 1.3vw;
}

.rightbar:hover{
  background: black;
  border-bottom: 0.1mm solid #EFC959;
 }

.maincontent{
  height: 500px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin: 0 auto;
  transform: translateX(0%);

  text-align: center;
}
.mainobject{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 170px;
  height: 200px;
  color: white;
  filter: drop-shadow(3px 3px 2px black);
  margin:  2% 10PX;
  padding:5%;
  box-sizing: border-box;
  border-radius: 2%;
  font-size: 1.2em;
  background-image: url('bgrnd1.jpg');
  text-decoration: none;
  align-self:stretch;
  line-height: 30px;
  justify-content: center;
}
.mainobject:hover{
  box-shadow: 0.2mm 0.2mm 0.2mm 1mm #EFC959 inset;
}
.mainobject:active{
  box-shadow: 0.2mm 0.2mm 0.2mm 1mm #EFC959 inset;
}
.mainobject .fa{
  font-size: 3em;
  color: #F4A726;
}
.mainobject p{
  margin: 6px auto;
  font-weight: 50;
}
/*contact page*/

.contact-opt{
  padding:2%;
  font-size: 20px;
  line-height: 30px;
}
.contact-opt .fa{
  position: relative;
  filter: drop-shadow(0px 3px 0px white);
  color: #EFC959;
}
.contact-number p{
  margin-bottom: 5px;
  font-size: 0.8em;
  line-height: 20px
}
.message-box p{
margin-bottom: 30px;
}
.message-box{
  width: 400px;
  margin: 10px auto 20px auto;
  height: auto;
}
/*paymant page*/
.payment-opt{
  font-size: 30px;
  padding:1%;
}

.payment-opt a{
  text-decoration: none;
  color: #573804;
  flex-flow: row;
}
a{
    text-decoration: underline;
    color: inherit;
}
.backhead{
  height:100%;
  width:100%;
  background: linear-gradient(to left, transparent, white, transparent);
  border-top: 0.3mm #EFC959 solid;
  border-bottom: 0.3mm #EFC959 solid;
  margin: 0;
  top:1em;
}
h1{
  font-size: 50px;
  background: -webkit-linear-gradient(black, #7D5E20 30%, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.secondary{
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 1% auto;
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-content: center;

}
#paypop{
  display: none;
  margin: 50px auto 0;
  overflow-x: hidden;
}
#paypop iframe{
  text-align: center;
  border-radius: 4px;
  overflow-x: hidden;
 }
.sign button{
  width: 200px;
  height: 50px;
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
/*mobile design*/
@media only screen and (max-width: 600px) {
  h1{
    font-size: 22px;
    background: -webkit-linear-gradient(black, #7D5E20 10%, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;

  }
.rightbar{
  height:auto;
  display: block;
  border-top: 0.1mm solid #EFC959;
  padding: 1px 3px;
  margin:  0;
  line-height: 30px;
  font-size: 4%;
  text-decoration: none;
  background: #4E4E4E;
  color: #EFC959;
  text-align: center;
}
.rightnav{
  transition: right 0.6s ease 100ms;
  position: fixed;
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  background: #1E1A19;
  height: 100vh;
  top:10vh;
  right: 0;
  padding: 0;
  margin: 0 auto;
}
body{
  padding: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
}
.head-title #sara, .head-title2 #sara{
  height: 50px;
  width: 90px;
  margin: 0 0;
  filter: contrast(140%);
  display: inline;
}
.head-title #ils, .head-title2 #ils{
  height: 50px;
  width: 50px;
  margin: 0 0;
  position: relative;
  left:0;
}
.head-title2{
  position: sticky;
}
.head-title, .head-title2{
  width: 100%;
  background-color: black;
	background-image: ;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  text-decoration: none;
  margin: 0px 0;
  border-radius: 0;
  padding: 0;
  transform: rotate(0);
}
.tcontain{
  overflow: hidden;
  float: none;
  margin-left: 0;
  margin-top: 0;
  position: relative;
}
.headbg, .tcontain{
  background-color: #E9B14A;
  filter: brightness(160%);
  height: 10.3vh;
  width: 100%;
  margin: 0;
  top: 0;
  filter:drop-shadow( 03px 03px 25px #323232);
}
.rstring{
  display: none;
}
.lstring{
  display: none;
}
.strings{
  display: none;
}
.dot{
  display: none;
}
@keyframes swing {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
.swing {
    transform-origin: center -50px;
}
.rightbar .fa{
  display: none;
}
